node_modules
# Keep environment variables out of version control
.env
.env.*

# =========================
# Build Output (TypeScript)
# =========================
# tscでコンパイルされたJSファイル群が入るディレクトリ
dist/
build/
*.tsbuildinf

# =========================
# Prisma
# =========================
/generated/prisma

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS & Editor Settings
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/